body {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-weight: 700;
	font-size: 34px;
	text-align: center;
}

.container {
	width: 944px;
	margin: 0 auto;
}

.hide {
	opacity: 0;
}

/* ==== Nav ==== */
.nav {}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0;
	border-bottom: 1px solid #828282;
}

.nav-item {}

.nav-link {
	font-size: 18px;
	color: #828282;
	transition: all .2s linear;
}

.nav-link:hover {
	color: #070707;
}

/* ==== Intro ==== */
.intro {
	padding: 30px 0 100px;
}

.intro__head {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.intro__name {
	font-size: 47.3392px;
	line-height: 59px;
	font-weight: 700;
	color: #070707;
}

.intro__text {
	align-self: flex-end;
}

.lang-switch-outer {
	position: relative;
}

.lang-switch-inner {
	transform: rotate(-90deg);
	position: absolute;
	bottom: 0;
	right: 0;
}

.lang-switch {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #828282;
}

.lang-switch.active {
	color: #070707;
}

.intro__img {}

.intro__img-mobile {}

/* ==== About ==== */
.about {
	background: #F6F6F6;
	text-align: center;
	padding: 120px 0 100px;
}

.about__title {
	margin-bottom: 30px;
}

.about__inner {
	width: 485px;
	margin: 0 auto;
}

.about__text {
	margin-bottom: 40px;
}

.about__text:nth-child(2) {
	width: 90%;
	margin: 0 auto 40px;
}

.about__text:nth-child(3) {
	width: 70%;
	margin: 0 auto;
}

/* ==== Skills ==== */
.skills {
	padding: 90px 0 110px;
}

.skills__title {
	margin-bottom: 70px;
}

.skills__text {
	text-align: center;
	margin-bottom: 87px;
}

.cards {
	display: flex;
	justify-content: space-between;
}

.card {
	text-align: center;
	flex-basis: 25%;
}

.card__img {
	margin-bottom: 26px;
}

.card__title {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	font-weight: bold;
	color: #828282;
	margin-bottom: 40px;
}

.stars {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* ==== Portfolio ==== */
.portfolio {
	padding: 112px 0 100px;
	text-align: center;
	background: #F6F6F6;
}

.portfolio__title {
	margin-bottom: 50px;
}

.portfolio__item {
	margin-bottom: 100px;
}

.portfolio__item:last-child {
	margin-bottom: 0;	
}

.portfolio__img {
	margin-bottom: 45px;
	width: 100%;
}

.portfolio__link {
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #070707;
}