body {
	font-family: 'Montserrat', sans-serif;
}

body.active {
	overflow: hidden;
}

h2 {
	font-weight: 700;
	font-size: 34px;
	text-align: center;
}

.container {
	width: 944px;
	margin: 0 auto;
}

@media (max-width:991px) {
	.container {
		width: 100%;
		padding: 0 30px;
		overflow: hidden;
	}
}

.hide {
	opacity: 0;
}

/* ==== Nav ==== */
.header {
	background-color: #FFF;
	position: sticky;
	top: 0;
}

@media (max-width: 576px) {
	.header {
		display: none;
	}
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0;
	border-bottom: 1px solid #828282;
}

.nav-list--burger{
	flex-direction: column;
	gap: 68px;
	align-items: start;
	border-bottom: none;
	padding: 66px 26px;
}

.nav-link {
	font-size: 18px;
	color: #828282;
	transition: all .2s linear;
}

.nav-link--burger {
	font-size: 34px;
	font-weight: 700;
}

.nav-link:hover {
	color: #070707;
}

/* ==== Intro ==== */
.intro {
	padding: 30px 0 100px;
}

.intro .container {
	position: relative;
}

.intro__head {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.intro__name {
	font-size: 47.3392px;
	line-height: 59px;
	font-weight: 700;
	color: #070707;
}

.intro__text {
	align-self: flex-end;
}

.lang-switch-outer {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	vertical-align: top;
}

.lang-switch {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #828282;
}

.lang-switch.active {
	color: #070707;
}

.intro__img {
	width: 100%;
}

.intro__img-mobile {
	display: none;
}

@media (max-width:576px) {
	.intro__head {
		flex-direction: column;
	}

	.intro__name {
		margin-bottom: 23px;
	}

	.intro__text {
		align-self: auto;
	}

	.intro__img {
		display: none;
	}

	.intro__img-mobile {
		display: block;
		width: 100%;
	}

	.lang-switch-outer {
		display: none;
	}

	.lang-switch-outer--burger {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 28px;
		transform: rotate(0);
		font-size: 34px;
	}
	
	.lang-switch-outer--burger .lang-switch {
		font-size: 34px;
	}
}

/* ==== Burger-menu ==== */
.burger-btn {
	width: 33px;
	height: 19px;
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-100%, 50%);
}

@media (max-width:576px) {
	.burger-btn {
		display: block;
	}
}

.burger-btn span {
	background-color: #070707;
	width: 33px;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
}
.burger-btn span:nth-of-type(3) {
	bottom: 0;
	top: auto;
}

.burger-btn.active span {
	top: 50%;
	background-color: #828282;
	transform: translateY(-50%) rotate(45deg);
}

.burger-btn.active span:nth-of-type(2) {
	display: none;
}

.burger-btn.active span:nth-of-type(3) {
	top: 50%;
	background-color: #828282;
	transform: translateY(-50%) rotate(-45deg);
}

.burger-menu {
	background-color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.burger-menu.active{
	display: block;
}

/* ==== About ==== */
.about {
	background: #F6F6F6;
	text-align: center;
	padding: 120px 0 100px;
}

.about__title {
	margin-bottom: 30px;
}

.about__inner {
	max-width: 485px;
	margin: 0 auto;
}

.about__text {
	margin-bottom: 40px;
}

.about__text:nth-child(2) {
	width: 90%;
	margin: 0 auto 40px;
}

.about__text:nth-child(3) {
	width: 70%;
	margin: 0 auto;
}

/* ==== Skills ==== */
.skills {
	padding: 90px 0 110px;
}

.skills__title {
	margin-bottom: 70px;
}

.skills__text {
	text-align: center;
	margin-bottom: 87px;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 80px;
}

.card {
	text-align: center;
	flex-basis: 25%;
}

@media (max-width: 576px) {
	.card {
		flex-basis: 100%;
	}
}

.card__img {
	margin-bottom: 26px;
}

.card__title {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	font-weight: bold;
	color: #828282;
	margin-bottom: 40px;
}

.stars {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* ==== Portfolio ==== */
.portfolio {
	padding: 112px 0 100px;
	text-align: center;
	background: #F6F6F6;
}

.portfolio__title {
	margin-bottom: 50px;
}

.portfolio__item {
	margin-bottom: 100px;
}

.portfolio__item:last-child {
	margin-bottom: 0;
}

.portfolio__img {
	margin-bottom: 45px;
}

.portfolio__link {
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #070707;
}

.contacts {
	padding: 115px 0 90px;
	text-align: center;
}

.contacts__title {
	margin-bottom: 25px;
}

.contacts__text {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 30px;
}

.contacts__link {
	display: inline-block;
	background: #070707;
	padding: 13px 30px;
	color: #FFF;
	border-radius: 25px;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.1);
	transition: all .2s linear;
}

.contacts__link:hover {

	box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.contacts__link:active {
	box-shadow: none;
	transform: translateY(6px);
}

.footer {
	text-align: center;
	padding-bottom: 123px;
}

.socials {
	margin: 0 auto 45px;
	width: 342px;
	display: flex;
	justify-content: space-between;
}

.footer__text {
	color: #828282;
}